.catalog {
  display: flex;
  margin: 80px auto 36px;
  padding: 0 45px;
  max-width: 1260px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    margin: 52px auto 36px;
  }

  @media (max-width: $mobile-width) {
    margin: 38px auto 26px;
    padding: 0 15px;
  }
}

.catalog__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 25px;
  list-style: none;
  text-align: center;
  margin: 0 0 32px 50px;
  padding: 0;

  li {
    position: relative;
    left: 0;
    flex-shrink: 0;
    max-width: 270px;
    transition: all 0.3s ease-out;
    cursor: pointer;

    &:hover h3,
    &:hover p {
      color: $accent;
      transition: 0.3s;
    }
  }

  h3 {
    margin: 18px 0 6px 0;
    font-family: $font-default;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $black;
  }

  p {
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: $black;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    transform: scale(1);
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }

  @media (max-width: $tablet-width) {
    margin-left: 0;

    h3 {
      margin: 22px 0 6px;
    }
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr 1fr;
    row-gap: 14px;

    h3 {
      margin: 18px 0 6px;
    }

    img {
      min-height: 136px;
    }
  }
}

.catalog__nav {
  position: relative;
  display: flex;
  margin: 0 0 38px 50px;
  padding-top: 28px;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 1px;
    transform: translateX(-50%);
    background-color: $seashell-color;
  }

  button {
    padding: 0;
    max-width: 150px;
    height: fit-content;
    font-family: $font-default;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $black;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    &:hover {
      color: $accent;
      transition: 0.3s;
    }
  }

  @media (max-width: $tablet-width) {
    margin-left: 0;
  }

  @media (max-width: $mobile-width) {
    padding-top: 2px;

    button {
      display: none;
    }
  }
}

.catalog__toggles {
  width: max-content;
  display: flex;
  margin: 0 auto;
  padding: 0 36px 0 0;
  list-style: none;

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.catalog__toggle {
  padding: 0 6px 0 7px;
  font-family: $font-default;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: $gray;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &--active {
    color: $black;
  }

  @media (max-width: $mobile-width) {
    padding: 0 11px 0 11px;
  }
}
