.filter {
  form {
    width: 250px;
  }

  @media (max-width: $tablet-width) {
    form {
      position: relative;
      display: none;
      margin-top: 27px;
      width: 423px;
      box-shadow: 0 5px 32px rgba(219, 213, 208, 0.24);
    }

    &--opened form {
      display: block;
    }
  }

  @media (max-width: $mobile-width) {
    form {
      width: 270px;
      margin: 76px auto 0;
    }
  }
}

.filter__container {
  @media (max-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 957px;
    max-height: 100vh;
    overflow-y: scroll;
    background-color: $white;
    z-index: 15;
  }
}

.filter__block {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 24px;
  min-height: 67px;
  border: 1px solid $accent;
  border-bottom: none;

  &:last-child {
    border-bottom: 1px solid $accent;
  }

  p {
    position: relative;
    margin: 25px 0 20px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: $black;
    cursor: pointer;
  }

  p::before {
    position: absolute;
    display: inline-block;
    content: "";
    border: solid $accent;
    border-width: 0 1px 1px 0;
    padding: 5px;
    transform: rotate(45deg);
    top: 0;
    right: 3px;
  }

  @media (max-width: $tablet-width) {
    border: 0;
    border-bottom: 1px solid $accent;

    p {
      margin: 34px 0 30px;
      font-size: 18px;
      line-height: 130%;
    }

    p::before {
      padding: 9px;
      right: 18px;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 0 20px;

    p {
      margin: 24px 0 25px;
    }
  }
}

.filter__item {
  display: none;
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 27px;
  }

  label {
    position: relative;
    padding-left: 35px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
  }

  input + label::before {
    position: absolute;
    content: "";
    top: 3px;
    left: 10px;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid $accent;
  }

  input:checked + label::before {
    background-color: $accent;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 17px;

    &:last-child {
      margin-bottom: 35px;
    }

    label {
      font-size: 16px;
      line-height: 130%;
    }
  }

  @media (max-width: $mobile-width) {
    &:last-child {
      margin-bottom: 26px;
    }

    label {
      padding-left: 40px;
    }
  }
}

.filter__block--opened .filter__item,
.filter__block--opened .price__wrapper {
  display: block;
}

.filter__block--opened p::before {
  top: 5px;
  transform: rotate(-135deg);

  @media (max-width: $tablet-width) {
    top: 9px;
  }
}

.filter__button {
  button {
    width: 100%;
    min-height: 68px;
    font-family: $font-default;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    border: 0;
    color: $white;
    cursor: pointer;
  }

  &--apply {
    button {
      margin-top: 32px;
      margin-bottom: 12px;
      background-color: $accent;
    }
  }

  &--clear {
    button {
      margin-top: 13px;
      margin-bottom: 25px;
      color: $black;
      background-color: $white;
      border: 1px solid $accent;
    }
  }

  &--close {
    button {
      display: none;
    }
  }

  &--open {
    display: none;
  }

  @media (max-width: $tablet-width) {
    &--clear button,
    &--apply button {
      width: 362px;
      margin-left: 21px;
      margin-right: 40px;
    }

    &--apply button {
      margin-top: 44px;
    }

    &--clear button {
      margin-bottom: 40px;
    }

    &--close {
      display: block;
      position: absolute;
      top: -16px;
      right: -16px;
      width: 32px;
      height: 32px;
    }

    &--close button {
      display: block;
      width: 32px;
      height: 32px;
      min-height: 0;
      padding: 0;
      border: 0;
    }

    &--close svg {
      fill: $white;
    }

    &--close svg:hover {
      fill: $accent;
    }

    &--open {
      display: block;
      width: 100%;
      margin-bottom: 50px;
      min-height: 68px;
      font-family: $font-default;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: $white;
      background-color: $accent;
      border: 0;
      border-radius: 0;
    }
  }

  @media (max-width: $mobile-width) {
    margin: 0 20px;

    button {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }

    &--apply button {
      margin-top: 28px;
      margin-bottom: 8px;
    }

    &--clear button {
      margin-bottom: 29px;
    }

    &--open {
      margin-bottom: 40px;
    }

    &--close {
      right: -29px;
    }
  }
}
