.form {
  input {
    font-family: $font-default;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    border: none;
    outline: 0;
    background-color: transparent;
  }

  input::placeholder {
    font-family: $font-default;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $gray;
  }

  &--search {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 184px;
    margin-top: 14px;

    input {
      height: 14px;
    }

    svg {
      margin-left: 5px;
      margin-right: 13px;
      fill: $black;
    }

    @media (max-width: $tablet-width) {
      display: none;
    }
  }

  &--footer {
    input {
      padding-left: 0;
      color: $white;
    }

    button {
      padding: 0;
      font-family: $font-default;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      border: 0;
      color: $white;
      background-color: transparent;
      cursor: pointer;
    }

    button:hover {
      color: $accent;
      transition: 0.3s;
    }

    button:hover svg {
      stroke: $accent;
      transition: 0.3s;
    }

    svg {
      stroke: $white;
      margin-left: 8px;
    }

    @media (max-width: $tablet-width) {
      max-width: 559px;
    }
  }

  &--login {
    input {
      width: 100%;
      padding-left: 0;
      border-bottom: 1px solid $black;
    }

    input[type="email"] {
      margin-bottom: 34px;
      padding-bottom: 8px;
    }

    input[type="password"] {
      margin-bottom: 5px;
      padding-bottom: 8px;
    }

    a {
      display: block;
      position: relative;
      text-align: right;
      margin-left: auto;
      font-weight: 400;
      font-weight: 500;
      font-size: 12px;
      line-height: 18px;
      color: $gray;
    }

    button {
      display: inline-block;
      margin-top: 45px;
      width: 100%;
      min-height: 68px;
      vertical-align: middle;
      font-family: $font-default;
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      color: $white;
      background-color: $accent;
      border: 0;
      cursor: pointer;
    }
  }
}
