.intro {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: $accent;
  width: 100%;

  &--main {
    background-image: url("../img/main-bg-desktop@1x.webp");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/main-bg-desktop@2x.webp");
    }
  }

  &--catalog {
    background-image: url("../img/catalog-bg-desktop@1x.webp");

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background-image: url("../img/catalog-bg-desktop@2x.webp");
    }
  }

  @media (max-width: $tablet-width) {
    &--main {
      background-image: url("../img/main-bg-tablet@1x.webp");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/main-bg-tablet@2x.webp");
      }
    }

    &--catalog {
      background-image: url("../img/catalog-bg-tablet@1x.webp");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/catalog-bg-tablet@2x.webp");
      }
    }
  }

  @media (max-width: $mobile-width) {
    &--main {
      background-image: url("../img/main-bg-mobile@1x.webp");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/main-bg-mobile@2x.webp");
      }
    }

    &--catalog {
      background-image: url("../img/catalog-bg-mobile@1x.webp");

      @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
        background-image: url("../img/catalog-bg-mobile@2x.webp");
      }
    }
  }
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
}

.intro__container {
  text-align: center;

  h2 {
    font-family: $font-secondary;
    font-weight: 600;
    line-height: 130%;
    text-transform: uppercase;
    color: $white;
  }

  span {
    font-family: $font-secondary;
    font-style: italic;
    line-height: 130%;
    margin: 0;
    color: $white;
  }

  &--main {
    max-width: 490px;
    margin: 180px auto 181px auto;

    h2 {
      margin: 0 0 -7px;
      font-size: 45px;
      letter-spacing: 0.03em;
    }

    span {
      font-weight: 400;
      font-size: 38px;
    }
  }

  &--catalog {
    max-width: 550px;
    margin: 91px auto 94px auto;

    h2 {
      margin: 0 0 2px;
      font-size: 34px;
    }

    span {
      font-weight: 500;
      font-size: 22px;
    }
  }

  @media (max-width: $mobile-width) {
    &--main {
      margin: 189px auto 187px auto;

      h2 {
        font-size: 38px;
      }

      span {
        font-size: 34px;
      }
    }

    &--catalog {
      margin: 79px auto;
      padding: 0 36px;
    }
  }
}
