.login {
  position: static;
  margin: 30px auto;
  padding: 138px 45px 0;
  top: 50vh;
  left: 50%;
  width: 430px;
  min-height: 586px;
  background-color: $blog-bg-color;
  background-image: url("../img/poppup-img.jpg");
  background-repeat: no-repeat;
  background-size: 442px 138px;
  background-position: top center;
  z-index: 5;

  h2 {
    margin: 50px 0 32px;
    text-align: center;
    font-size: 34px;
    line-height: 130%;
  }

  p {
    color: $gray;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin: 15px 0;
  }

  a {
    margin-left: 5px;
    color: $black;
  }
}
