.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $tablet-width) {
    padding: 0 45px;
    align-items: flex-start;
  }

  @media (max-width: $mobile-width) {
    padding: 0 15px;
  }
}

.page-header--opened {
  @media (max-width: $tablet-width) {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: $accent;
    overflow-y: scroll;
    z-index: 30;

    .form--search {
      display: flex;
    }

    .page-header__logo svg {
      fill: $white;
    }

    .page-header__basket-icon {
      stroke: $white;
    }

    .page-header__toggle {
      top: 0;
      background-color: $accent;
    }

    .page-header__toggle-line,
    .page-header__toggle-line::after,
    .page-header__toggle-line::before {
      background-color: $white;
    }

    .page-header__toggle-line {
      background: transparent;
    }

    .page-header__toggle-line::after,
    .page-header__toggle-line::before {
      transform: rotate3d(0, 0, 1, 45deg);
      transition: 0.3s, transform 0.3s 0.3s;
      top: 0;
      left: 0;
      width: 22.5px;
      height: 1px;
      background-color: $white;
    }

    .page-header__toggle-line::before {
      transform: rotate3d(0, 0, 1, -45deg);
    }

    .page-header__toggle-line:hover {
      background: transparent;
    }

    .page-header__nav {
      display: block;
    }

    .page-header__basket-icon:hover {
      stroke: transparentize($white, 0.5);
      transition: 0.3s;
    }
  }
}

.page-header__top {
  width: 100%;
  border-bottom: 1px solid $seashell-color;

  @media (max-width: $tablet-width) {
    border: none;
  }
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px 11px;
  margin: 0 auto;
  width: 100%;
  max-width: 1240px;
  min-height: 115px;

  @media (max-width: $tablet-width) {
    display: grid;
    grid-template-columns: 30px 1fr 30px;
    padding: 25px 0 11px;
    min-height: 126px;
  }

  @media (max-width: $mobile-width) {
    min-height: auto;
    align-items: center;
    padding: 18px 0;
  }
}

.page-header__logo {
  display: block;
  margin-right: 50px;

  svg {
    fill: $accent;
  }

  @media (max-width: $tablet-width) {
    display: block;
    margin: 5px auto;
    grid-column: 2/3;
    grid-row: 1/2;

  }

  @media (max-width: $mobile-width) {
    margin: 0 auto;

    svg {
      width: 52px;
      height: 52px;
    }
  }
}

.page-header__user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 7px;
  width: 129px;

  a {
    margin: 5px;
    height: max-content;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: $black;

    &:hover {
      color: $accent;
      transition: 0.3s;
    }
  }

  @media (max-width: $tablet-width) {
    width: auto;
    height: 16px;
    margin-top: 29px;
    justify-content: flex-end;

    a {
      margin: 0;
    }
  }

  @media (max-width: $mobile-width) {
    margin: 0;
    padding: 0;
  }
}

.page-header__login,
.page-header__basket span {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__basket {
  display: flex;
  gap: 6px;
}

.page-header__basket-icon {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    fill: none;
    stroke: $black;

    &:hover {
      stroke: $accent;
      transition: 0.3s;
    }
  }
}

.page-header__nav {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__nav-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0;
  padding: 18px 0 19px;
  width: 507px;
  list-style: none;

  li {
    margin-right: 20px;
    margin-left: 12px;
  }

  li:last-child {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 38px 0 19px;

    li {
      margin: 0 0 21px 0;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 20px 0 8px;
  }
}

.page-header__nav-list a {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $black;

  &:hover {
    color: $accent;
    transition: 0.3s;

    &::after {
      position: absolute;
      display: block;
      content: "";
      width: 100%;
      height: 1px;
      background-color: $accent;
    }
  }

  @media (max-width: $tablet-width) {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: $white;

    &:hover {
      color: transparentize($white, 0.5);
      transition: 0.3s;
    }
  }
}

.page-header__contact-list {
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      margin: 0 0 21px 0;
    }

    a {
      position: relative;
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      color: transparentize($white, 0.5);

      &:hover {
        color: transparentize($white, 0.8);
        transition: 0.3s;

        &::after {
          position: absolute;
          display: block;
          content: "";
          width: 100%;
          height: 1px;
          background-color: $accent;
        }
      }
    }
  }
}

.page-header__nav-login {
  display: none;

  @media (max-width: $tablet-width) {
    position: relative;
    display: inline-block;
    padding: 20px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    color: $white;

    &:hover {
      color: transparentize($white, 0.5);
      transition: 0.3s;
    }
  }

  @media (max-width: $mobile-width) {
    padding: 13px 0;
  }
}

.page-header__toggle {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    position: relative;
    top: -7px;
    left: 0;
    z-index: 6;
    padding: 0;
    background-color: $white;
    background-repeat: no-repeat;
    background-position: center;
    border: 0;
    cursor: pointer;
  }

  @media (max-width: $mobile-width) {
    top: 0;
    width: 25px;
    height: 19px;
  }
}

.page-header__toggle-line {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 2px;
  font-size: 0;
  color: transparent;
  background-color: $black;
  transition: 0.3s;

  &::after {
    top: 8px;
  }

  &::before {
    top: -8px;
  }
}

.page-header__toggle-line::after,
.page-header__toggle-line::before {
  content: "";
  position: absolute;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: $black;
  transform-origin: 50% 50%;
  transition: 0.3s, transform 0.3s;
}
