.page-footer {
  flex-shrink: 0;
  background-color: $dark-black;
  color: $white;

  ul {
    margin-top: 7px;
    padding: 0;
    list-style: none;
  }

  li {
    position: relative;
    margin-bottom: 21px;
  }

  a {
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: $white;

    &:hover {
      color: $accent;
      transition: 0.3s;
    }
  }

  @media (max-width: $mobile-width) {
    ul {
      width: 100%;
    }
  }
}

.page-footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 89px 15px 74px;
  width: 100%;
  max-width: 1200px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    padding: 50px 150px 18px 45px;
  }

  @media (max-width: $mobile-width) {
    padding: 50px 15px 32px 15px;
  }
}

.page-footer__mailing {
  flex-grow: 2;
  max-width: 500px;
  margin-right: 22px;

  h2 {
    margin: 0 0 10px;
    font-weight: 700;
    font-size: 34px;
    line-height: 130%;
    letter-spacing: 0.03em;
  }

  p {
    margin: 0 0 42px;
    font-size: 16px;
    line-height: 130%;
    color: $gray;
  }

  @media (max-width: $tablet-width) {
    margin: 0;
    padding-bottom: 40px;
    width: 100%;
    max-width: none;
  }

  @media (max-width: $mobile-width) {
    h2 {
      margin: 0 45px 0 0;
    }

    p {
      margin: 13px 45px 40px 0px;
      line-height: 140%;
    }
  }
}

.page-footer__form {
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;
  width: 100%;
  max-width: 500px;
  border-bottom: 1px solid $white;
}

.page-footer__information {
  margin-right: 10px;

  @media (max-width: $tablet-width) {
    margin-right: 36px;
  }
}

.page-footer__social {
  margin-left: 37px;
  min-width: 115px;

  a {
    padding-left: 30px;
  }

  li:hover a {
    color: $accent;
    transition: 0.3s;
  }

  li:hover svg {
    fill: $accent;
    transition: 0.3s;
  }

  @media (max-width: $mobile-width) {
    display: flex;
    justify-content: flex-start;
    margin: 0;

    li {
      margin-right: 30px;
    }

    a {
      padding: 0;
    }

    span {
      display: none;
    }
  }
}

.page-footer__social-icon {
  position: absolute;
  left: 0;
  top: 2px;
  fill: $white;

  @media (max-width: $mobile-width) {
    position: relative;
    width: 20px;
    height: 21px;
    top: 0;

    &--fb {
      width: 12px;
    }
  }
}
