//Colors
$white: #ffffff;
$black: #1d1613;
$gray: #9b9997;
$seashell-color: #f6f5f4;
// $promo-bg-color: #1b2d37;
// $footer-bg-color: #fafafa;
$accent: #a87b62;
// $gray: #666666;
// $gray--light: #ebebeb;
// $border-color: #c4c4c4;
// $modal-bg-color: rgba(27, 45, 55, 0.8);

//Fonts
$font-default: "Poppins", "Arial", sans-serif;
$font-secondary: "Cormorant Garamond", "Palatino", serif;

//Viewports
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;
