//Colors
$white: #ffffff;
$black: #1d1613;
$dark-black: #000000;
$gray: #9b9997;
$seashell-color: #f6f5f4;
$blog-bg-color: #f0eae4;
$accent: #a87b62;
$modal-bg-color: rgba(27, 45, 55, 0.3);

//Fonts
$font-default: "Poppins", "Arial", sans-serif;
$font-secondary: "Cormorant Garamond", "Palatino", serif;

//Viewports
$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width: 1024px;
